<div fxLayout="row" fxLayoutGap="2%">
  <app-add-forum (newForum)="addNewForum($event)"></app-add-forum>
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="filterForum$.next($event.target.value)" placeholder="filter"
        type="text" data-cy="filterInput" [value]="filterForumName"/>
    </mat-form-field>
  </mat-card>
</div>
<mat-card class="error" *ngIf="errorMessage" data-cy="appError">
  got an error while loading the forum list: {{ errorMessage }}
</mat-card>
<div *ngIf="(fora$ | async) as fora; else loadingOrError">
  <div class="flex-container">
    <div class="flex-item" fxFlex="0 0 calc(24%-0.5%)" fxFlex.xs="100%" 
    fxLayoutGap="0.5%" fxLayoutAlign="start" *ngFor="let localForum of fora">
      <div fxFlex="grow" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center center">
        <div mat-card-subtitle fxFlexOffset="5">{{ localForum.aantal }} followers</div>
        <button fxFlex="grow" fxFlexOffset="5" mat-raised-button [routerLink]="['/forum/detail', localForum.id]">
          <h3>forum {{ localForum.name }}</h3>
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loadingOrError>
  <span *ngIf="errorMessage; else loading"></span>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</ng-template>