<mat-card fxFlex="40">
    <mat-card-header>
        <div *ngIf="post.repliesTo">
            by {{ post.user.username }} to {{post.repliesTo.user.username}}
        </div>
        <div *ngIf="!post.repliesTo">
            by {{ post.user.username }}
        </div>
    </mat-card-header>
    <div fxLayout="row">
        <mat-card-content>
            {{ post.content }}
        </mat-card-content>
    </div>
</mat-card>
<button class="delete" mat-raised-button *ngIf="showDelete()" (click)="delete()">delete</button>